# OS / misc
Thumbs.db
Desktop.ini
local_archive/
/DATA/

# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Data & Models (Too large for git)
/data/
outputs/
*.h5
*.root

# IDE settings
.vscode/
.idea/

#Virtual Environment
venv/
.venv/

# Scratch & Temp
scratch/

# tex junk 
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
